html {
    margin: 0px;
    background-color: #cde6ff;
}

body {
    background-color: #cde6ff;
    color: #b1967c;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px auto;
    width: 800px
}

h1 {
    display: block;
    margin: auto;
}

.bullet { float: left;
margin-right: 16px;
margin-bottom: 16px;
}
.green {

    border-bottom: 2px solid;
border-color: white;}

.main {
    background-color: #cde6ff;
    float: left;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;

}

.first {
    font-family: arial;
    font-size: 1.3em;
    color: #6a94cc;
}

header {
    font-family: verdana;
    font-size: 24px;
    margin-bottom: 15px;
}

h2 {
    font-size: 2em;
    color: #e8a064;
}

.big {
    color: #666666;
    font-size: 1.2em;
    line-height: 28px;
    margin-left: 45px;
    clear: both;  
}

.sidebar {
    float: left;
    width: 220px;
    padding: 2%;
    background: #E9F5FE;
}
